<!DOCTYPE html>
<html lang="en" dir="ltr">
<head id="top">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{% block title %}Nil Castillon Media{% endblock %}</title>
	
	<link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='assets/img/icon/logo.png') }}">

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">

	<link href="{{ url_for('static',filename='css/vendors/bootstrap-5.3.3/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ url_for('static',filename='css/base.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ url_for('static',filename='css/custom.css') }}" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->
	
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

	<!-- Theme JS files -->
	<script src="{{ url_for('static',filename='js/vendors/jquery-3.7.1/jquery.min.js') }}"></script>
	<script src="{{ url_for('static',filename='js/vendors/bootstrap-5.3.3/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ url_for('static',filename='js/utils.js') }}"></script>
	<script src="{{ url_for('static',filename='js/custom.js') }}"></script>
	<script id="pages_script" src="{{ url_for('static',filename='js/pages/pages.js') }}" type="text/javascript"></script>
	<!-- /theme JS files -->
	<style>
		.material-symbols-outlined {
		  font-variation-settings:
		  'FILL' 0,
		  'wght' 400,
		  'GRAD' 0,
		  'opsz' 24
		}
    </style>

    {% block styles %}{% endblock %}

</head>

<body>
	<div class="container">
		<nav class="navbar navbar-expand-lg flex-column rounded vertical-height-100" id="mainNav">
			<div class="navbar-brand-container w-100 d-flex">
				<button class="navbar-toggler custom-toggler collapsed me-5" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" 
					style="align-self: center;" id="navbarToggler">
					<span class="toggler-icon top-bar"></span>
					<span class="toggler-icon middle-bar"></span>
					<span class="toggler-icon bottom-bar"></span>
				</button>
				<div class="text-center mx-auto ml-auto" style="display: flex; flex-direction: column;">
					<a class="navbar-brand mx-md-auto ml-auto" href="#top">
						TRBranch <!-- Nil Castillón Media -->
					</a>
					<div id="typed_text">
						<span class="typed-text"></span>
						<span class="typing-cursor">&nbsp;</span> 
					</div>
				</div>
			</div>
	  
			<div class="justify-content-md-center navbar-bottom" id="navbarContent">
				<ul class="navbar-nav text-center">
					<li class="nav-item">
						<a class="nav-link" href="#projects">Gallery</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#services">Services</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#about">About me</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#contact">Contact</a>
					</li>
				</ul>
			</div>
		</nav>


		<!-- main -->
		<div class="main active">

			<div id="content">
                {% block content %}{% endblock %}
				<section id="projects" class="section-container gallery-container">
					<h1 class="padded" style="margin-top: 1rem; margin-bottom: 3rem;">My Work.</h1>
					<div class="gallery">
						<div class="gallery-item">
							<img src="http://unsplash.it/1200/800?image=940" alt="Project 1">
						</div>
						<div class="gallery-item">
							<video src="https://www.youtube.com/watch?v=Ir098VWCv8Q" controls></video>
						</div>
						<div class="gallery-item">
							<img src="http://unsplash.it/1340/820?image=401" alt="Project 3">
						</div>
						<!-- Add more items as needed -->
					</div>
				</section>
				<section id="about" class="padded">
					<h1 class="text-end" style="margin-top: 1rem; margin-bottom: 3rem;">Who am I?</h1>
					<h2 class="primary text-end" style="margin-bottom: 2rem;">
						Nil Castillón Gasch
					</h2>
					<p class="text-end" style="width: 90%;margin-left: auto;">
						I'm a film producer and cinematographer who graduated from <a href="https://ecam.es/">ECAM</a> (School of 
						Cinematography and Audiovisual of the Community of Madrid). Since completing 
						my studies, I've had the privilege of working on a variety of exciting projects, 
						both as part of an established production company and as a freelancer. 
						</br>
						My career has been a blend of creative and challenging collaborations, where 
						I've had the opportunity to contribute to music videos for renowned artists 
						like C. Tangana, as well as commercials for major brands like Cupra. Each project 
						has allowed me to explore different styles and approaches, greatly enriching my 
						perspective and skills in the audiovisual industry.
						</br>
						One of my strengths is my ability to adapt to the needs and visions of my clients. 
						Whether capturing the energy and rhythm of a music video or conveying the essence 
						of a brand in a commercial, I always strive to deeply understand what each project 
						requires and bring my creativity and technical expertise to achieve exceptional results.
						</br>
						I'm here to help bring your vision to life. If you have an idea or a project in mind, 
						don't hesitate to get in touch with me. I'm excited about the possibility of working 
						together and creating something amazing!
					</p>
				</section>
				<section id="services" class="section-container padded">
					<div class="row text-center" style="padding: 0; gap: 0;">
						<h1>
							Services.
						</h1>
						<p style="font-size: 20px;">
							No two projects are the same, and I tailor my services to fit your specific 
							vision and requirements. My flexible approach ensures that I can handle any 
							challenge, whether it's a tight deadline, a limited budget, or a complex 
							concept. I work closely with you throughout the entire process, providing 
							personalized attention and expert guidance to achieve your goals.
						</p>
						<div class="row text-center" style="margin-top: 2rem;">
							<div class="col" style="padding: 0; gap: 0;">
								<h2>01. Cinematographer</h2>
								<p>With a keen eye for detail and a passion for storytelling, I provide 
									top-tier cinematography services that capture the essence of your 
									project. From concept development to final cut, I ensure every 
									frame is meticulously crafted to convey the desired emotion and 
									message. Utilizing state-of-the-art equipment and the latest techniques, 
									I deliver stunning visuals that leave a lasting impact.</p>
							</div>
							<div class="col" style="padding: 0; gap: 0;">
								<h2>02. Producer</h2>
								<p>From pre-production planning to post-production editing, my video 
									production services cover the entire filmmaking process. I specialize 
									in creating high-quality content for a variety of purposes, including 
									bringing intricate stories to the big screen with cinematic flair, 
									enhancing brand image and communication with polished professional videos or 
									creating visually dynamic and impactful videos that resonate with audiences.</p>
							</div>
						</div>
					</div>
				</section>
				<section id="contact" class="padded">
					<h1>
						Let's bring your vision
						<br>
						to life.
					</h1>
					<h3 class="primary">
						Camara, lights and action.
					</h3>
					<form action="#" class="subscribe">
						<input type="email" placeholder="Your email address...">
						<button class="btn-four">Contact</button>
					</form>
				</section>
			</div>

		</div>

		<footer class="my-4">
			<ul class="nav justify-content-center mb-3">
			  <li class="nav-item"><a href="#top" class="nav-link px-2 text-body-secondary">Home</a></li>
			  <li class="nav-item"><a href="#projects" class="nav-link px-2 text-body-secondary">Gallery</a></li>
			  <li class="nav-item"><a href="#services" class="nav-link px-2 text-body-secondary">Services</a></li>
			  <li class="nav-item"><a href="#about" class="nav-link px-2 text-body-secondary">About</a></li>
			  <li class="nav-item"><a href="#contact" class="nav-link px-2 text-body-secondary">Contact</a></li>
			</ul>
			<p id="copyright" class="text-center text-body-secondary">© 2024 Nil Castillon Media</p>
		</footer>


	</div>

	<script>
		// Revisamos cuando se clique un enlace
		$(document).ready(function(){
			// Suavizar la navegacion para los enlaces en navbar + footer
			document.querySelectorAll(".navigation a, footer a[href='#top']").forEach((item) => {

				item.addEventListener('click', function(event) {
					// Nos aseguramos de que this.hash tenga valor antes de sobreescribirlo
					if (this.hash !== "") {
						// Prevenimos el click predeterminado
						event.preventDefault();

						// Almacenamos el hashtag de la web
						var hash = this.hash;

						// Usamos el metodo animate() de jQuery para suavizar el scroll
						// El numero opcional (900) especifica los milisegundos que tarda en hacer scroll
						$('html, body').animate({
							scrollTop: document.querySelector(hash).getBoundingClientRect().top
						}, 900, function(){
							// Añadimos el hashtag a la URL cuando llegamos a la pagina
							window.location.hash = hash;
						});
					}
				});
			});
			
			$(window).scroll(function() {
				$(".slideanim").each(function(){
					var pos = $(this).offset().top;

					var winTop = $(window).scrollTop();
						if (pos < winTop + 600) {
							$(this).addClass("slide");
						}
				});
			});

		})


		

		document.addEventListener("DOMContentLoaded", function () { // On DOM Load initiate the effect

			let textArray = ['Producer', 'Cinematographer'];
			if ((navigator.language || navigator.userLanguage).includes('es')) {
				textArray = ['Productor', 'Cinematógrafo'];
			}
			console.log(textArray);
			const typingDelay = 200;
			const erasingDelay = 10;
			const newTextDelay = 100; // Delay between current and next text
			let textArrayIndex = 0;
			let charIndex = 0;

			function type(delay=200) {
				let typedTextSpan = document.querySelector(".typed-text");
				let cursorSpan = document.querySelector(".typing-cursor");
				if (charIndex < textArray[textArrayIndex].length) {
					if (!cursorSpan.classList.contains("typing")) cursorSpan.classList.add("typing");
					typedTextSpan.textContent += textArray[textArrayIndex].charAt(charIndex);
					charIndex++;
					setTimeout(type, typingDelay);
				} else {
					cursorSpan.classList.remove("typing");
					setTimeout(erase, newTextDelay);
				}
			}

			function erase(delay=10) {
				let typedTextSpan = document.querySelector(".typed-text");
				let cursorSpan = document.querySelector(".typing-cursor");
				if (charIndex > 0) {
					// add class 'typing' if there's none
					if (!cursorSpan.classList.contains("typing")) {
						cursorSpan.classList.add("typing");
					}
					typedTextSpan.textContent = textArray[textArrayIndex].substring(0, 0);
					charIndex--;
					setTimeout(erase, erasingDelay);
				} else {
					cursorSpan.classList.remove("typing");
					textArrayIndex++;
					if (textArrayIndex >= textArray.length) textArrayIndex = 0;
					setTimeout(type, typingDelay);
				}
			}

			if (textArray.length) setTimeout(type, newTextDelay + 250);
		});
	</script>

    {% block scripts %}{% endblock %}

</body>
</html>